body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  background-color:#e1b382;
  margin: 0;
  padding: 0;
}

#quiz-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #2d545e;
  border-radius: 8px;
  box-shadow: 0 0 10px #c89666;
}

#timer-container {
  margin-top: 20px;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  margin-bottom: 20px;
  color: #c89666;
  background-color:  #12343b;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #c89666;
}

#question-container {
  font-size: 18px;
  margin: 20px 0;
  color: #c89666;
}

#answer-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#timer {
  font-weight: bold;
  font-size: 40px;
  color: #12343b;
}

.hide {
  display: none;
}

#result {
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
  color:  #c89666;
}

#score-form {
  margin-top: 20px;
}

#score-list {
  list-style-type: none;
  padding: 0;
}

#high-scores {
  margin-top: 20px;
}

#clear-scores {
  background-color: #12343b;
  color: #c89666;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

li {

  background-color: #12343b;
  color: #c89666;
}

label {
  color: #c89666;
}

h2 {
color: #c89666;
}
