body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  background-color:#e1b382;
  margin: 0;
  padding: 0;
}

#quiz-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #2d545e;
  border-radius: 8px;
  box-shadow: 0 0 10px #c89666;
}

#timer-container {
  margin-top: 20px;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  margin-bottom: 20px;
  color: #c89666;
  background-color:  #12343b;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #c89666;
}
